In [23]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib as plt

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/obesity-levels/ObesityDataSet_raw_and_data_sinthetic.arff
/kaggle/input/obesity-levels/ObesityDataSet_raw_and_data_sinthetic.csv

In [24]:
df = pd.read_csv('/kaggle/input/obesity-levels/ObesityDataSet_raw_and_data_sinthetic.csv')
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [25]:
df.isnull().sum()

Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

In [26]:
numerical_features = [features for features in df.columns if df[features].dtypes != 'O']
categorical_features = [features for features in df.columns if features not in numerical_features]
print('Numerical Feautures with the count {}'.format (len(numerical_features)))
print('Categorical Feautures with the count {}'.format (len(categorical_features)))

Numerical Feautures with the count 8
Categorical Feautures with the count 9

In [27]:
print(numerical_features)
print(categorical_features)

['Age', 'Height', 'Weight', 'FCVC', 'NCP', 'CH2O', 'FAF', 'TUE']
['Gender', 'family_history_with_overweight', 'FAVC', 'CAEC', 'SMOKE', 'SCC', 'CALC', 'MTRANS', 'NObeyesdad']

In [28]:
df.nunique()

Gender                               2
Age                               1402
Height                            1574
Weight                            1525
family_history_with_overweight       2
FAVC                                 2
FCVC                               810
NCP                                635
CAEC                                 4
SMOKE                                2
CH2O                              1268
SCC                                  2
FAF                               1190
TUE                               1129
CALC                                 4
MTRANS                               5
NObeyesdad                           7
dtype: int64

In [29]:
from sklearn.preprocessing import LabelEncoder

In [30]:
le = LabelEncoder()
df['NObeyesdad'] = le.fit_transform(df['NObeyesdad'])
df['SMOKE'] = le.fit_transform(df['SMOKE'])
df['MTRANS'] = le.fit_transform(df['MTRANS'])
df['family_history_with_overweight'] = le.fit_transform(df['family_history_with_overweight'])
df['CAEC'] = le.fit_transform(df['CAEC'])
df['CALC'] = le.fit_transform(df['CALC'])
df['FAVC'] = le.fit_transform(df['FAVC'])
df['SCC'] = le.fit_transform(df['SCC'])
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,1,0,2.0,3.0,2,0,2.0,0,0.0,1.0,3,3,1
1,Female,21.0,1.52,56.0,1,0,3.0,3.0,2,1,3.0,1,3.0,0.0,2,3,1
2,Male,23.0,1.80,77.0,1,0,2.0,3.0,2,0,2.0,0,2.0,1.0,1,3,1
3,Male,27.0,1.80,87.0,0,0,3.0,3.0,2,0,2.0,0,2.0,0.0,1,4,5
4,Male,22.0,1.78,89.8,0,0,2.0,1.0,2,0,2.0,0,0.0,0.0,2,3,6

In [31]:
target = df['NObeyesdad']
df.drop('NObeyesdad',axis = 'columns',inplace = True)
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.0,1.62,64.0,1,0,2.0,3.0,2,0,2.0,0,0.0,1.0,3,3
1,Female,21.0,1.52,56.0,1,0,3.0,3.0,2,1,3.0,1,3.0,0.0,2,3
2,Male,23.0,1.80,77.0,1,0,2.0,3.0,2,0,2.0,0,2.0,1.0,1,3
3,Male,27.0,1.80,87.0,0,0,3.0,3.0,2,0,2.0,0,2.0,0.0,1,4
4,Male,22.0,1.78,89.8,0,0,2.0,1.0,2,0,2.0,0,0.0,0.0,2,3

In [32]:
sex_columns  = pd.get_dummies(df['Gender'])

In [33]:
df.drop(['Gender'],axis = 1, inplace = True)
df = df.join([sex_columns])
df.head()

,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Female,Male
0,21.0,1.62,64.0,1,0,2.0,3.0,2,0,2.0,0,0.0,1.0,3,3,1,0
1,21.0,1.52,56.0,1,0,3.0,3.0,2,1,3.0,1,3.0,0.0,2,3,1,0
2,23.0,1.80,77.0,1,0,2.0,3.0,2,0,2.0,0,2.0,1.0,1,3,0,1
3,27.0,1.80,87.0,0,0,3.0,3.0,2,0,2.0,0,2.0,0.0,1,4,0,1
4,22.0,1.78,89.8,0,0,2.0,1.0,2,0,2.0,0,0.0,0.0,2,3,0,1

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df,target,test_size = 0.2)

In [35]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [36]:
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [37]:
DecisionTreePipeline = Pipeline([('Decision_Tree',DecisionTreeClassifier())])
RandomForestClassifierPipeline = Pipeline([('RF_Classifier',RandomForestClassifier())])

In [53]:
mypipeline = [DecisionTreePipeline,RandomForestClassifierPipeline]

In [39]:
accuracy = 0.0
classifier = 0
pipeline = ""

In [40]:
X_train

,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Female,Male
267,38.000000,1.700000,78.000000,0,1,3.000000,3.000000,1,0,2.000000,0,0.000000,0.000000,1,0,0,1
1759,30.945369,1.759647,120.009392,1,1,2.766612,3.000000,2,0,2.173417,0,1.089344,1.198439,2,0,0,1
1438,40.789529,1.549748,80.000000,1,1,2.000000,1.099151,2,0,1.687611,0,1.874662,0.000000,2,0,1,0
1643,28.493397,1.817572,120.815800,1,1,2.969233,3.000000,2,0,2.807984,0,0.982134,1.191998,2,3,0,1
1080,28.977792,1.700000,78.000000,1,1,3.000000,3.000000,2,0,1.507638,0,1.824340,1.000000,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1748,29.891473,1.760030,112.409191,1,1,2.262292,3.000000,2,0,2.115354,0,0.000000,0.847587,2,0,0,1
978,21.793724,1.754630,89.068227,1,1,2.000000,2.041558,2,0,2.387250,0,0.813917,0.000000,2,3,0,1
1952,19.783234,1.747962,133.936535,1,1,3.000000,3.000000,2,0,2.841740,0,1.429256,0.775378,2,3,1,0
1700,36.839761,1.742850,106.421042,1,1,2.541785,2.902639,2,0,1.000000,0,1.668961,0.000000,3,0,0,1
1467,18.000000,1.806827,108.829395,1,1,2.000000,1.248840,2,0,2.416213,0,1.000000,1.546738,3,3,0,1

In [52]:
pipelinedict = {0:'DecisionTreeClassifier',1:'RandomForestClassifier'}
for mypipe in mypipeline:
    mypipe.fit(X_train,y_train)

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [44]:
for i, model in enumerate(mypipeline):
    print('{} Test Score = {}'.format(pipelinedict[i],model.score(X_test,y_test)))

DecisionTreeClassifier Test Score = 0.9432624113475178
RandomForestClassifier Test Score = 0.9598108747044918